.main {
    flex: 1;
    color: #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.gridIcon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.gridInfo {
    font-size: 13px;
    margin-top: 15px;
}

.yourImc {
    font-size: 15px;
    margin: 10px 0 40px 0;
}